.gist-file-container {
  height: 540px;
  width: 100%;
}

.code-mirror-custom {
  width: 100%;
  height: 100%;
}
.CodeMirror {
  min-height: 100%;
}
.CodeMirror-gutters {
  border-right: 0;
  background: white;
}
.gist-file-name {
  border-bottom: 1px solid #c7c7c7;
  padding: 6px 10px;
  color: var(--header-blue-color);
}
.CodeMirror-scroll{
  padding: 10px 30px;
}
