.public-gists-main-container {
  text-align: left;
}

.public-gists-right-seperator {
  display: inline-block;
  border-right: 1px solid #d9d9d9;
  margin-right: 8px;
  padding-right: 8px;
  padding: 4px 8px 2px 0;
}
