.table-header-row {
  display: flex;
  background-color: #def5ec;
  padding: 10px 0;
}
.table-col {
  flex-basis: 20%;
  padding-left: 5px;
}
.table-body-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #7cffce;
}
